@import 'transitions';

body, html {
	background-color: #efefef;
	color:#444444;
}
div, span, input, select, textarea, label {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
select {
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
	border-radius:2px;
	background-image:url(/assets/images/icon-down-arrow.png);
	background-repeat: no-repeat;
	background-position: right 4px center;
}
input.error {
	border:1px solid #c00;
}
span.error {
	color:#C00;
}
.fixed {
	position: fixed;
}
.max-width {
	max-width:960px;
	margin:auto;
}

[v-cloak] {
  display: none;
}
.box {
	width:100%;
	border:1px solid #ccc;
	border-radius: 4px;
	padding:0;
	margin:0;
	background-color:#fff;
}
.cursor {
	cursor:pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
h1.header {
	font-size:2em;
	letter-spacing: 1.4em;
	text-align:center;
	margin:0;
}
h1.header span, h2.header span{
	letter-spacing: 0em;
}
h2.header {
	margin:4px 0 30px 0;
	font-size:0.8em;
	letter-spacing: 1.9em;
	text-align:center;
}
.align-right {
  float: right;
}

.splash-container {
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    pointer-events:none;
	.splash {
    	/* absolute center .splash within .splash-container */
    	width: 80%;
    	height: 50%;
    	margin: auto;
    	position: absolute;
    	top: 50px; left: 0; bottom: 0; right: 0;
    	text-transform: uppercase;
	}
}

$btn-num-icons: 7;
.btn {
  display: inline-block;
  width:40px;
  height:40px;
  background-size:auto 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-image:url(/assets/images/icons.png);
  cursor: pointer;
  &.sm {
    width:24px;
    height:24px;
  }
  &.pen {
    background-position:0 0;
  }
  &.cog {
    background-position:100%/$btn-num-icons 0;
  }
  &.check {
    background-position:100%/$btn-num-icons*2 0;
  }
  &.x {
    background-position:100%/$btn-num-icons*3 0;
  }
  &.plus {
    background-position:100%/$btn-num-icons*4 0;
  }
  &.minus {
    background-position:100%/$btn-num-icons*5 0;
  }
  &.reload {
    background-position:100%/$btn-num-icons*6 0;
  }
  &.back {
    background-position:100%/$btn-num-icons*7 0;
  }
  &.inactive {
    opacity:0.5;
  }

}

#prompt {
	position: fixed;
	border-bottom:1px solid #ccc;
	z-index:99999;
	padding:1%;
	width:100%;
	top:0;
	background:#fff;
	text-align:center;
	font-weight:bold;
	&.message {	
		border-color:#0c0;	
		background-color:#cfc;	
	}
	&.error {
		border-color:#F00;
		background-color:#fcc;
	}
}
#login {
	width:400px;
	margin: auto;
	padding:20px;
	border:1px solid #ccc;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
  pointer-events:auto;
	label {
		color:#666;
		font-size:12px;
		display:block;
	}
	input {
		font-size:14px;
		margin:4px 0 20px 0;
		padding:6px;
		display:block;
		width:100%;
	}
	input[type=submit] {
		color:#666;
		font-size:14px;
		margin:24px 0 0 0;
		width:100%;
	}
}
#find {
	position: fixed;
	width:100%;
	top:8px;
	z-index:999;
	#find-inner {
		width:99%;
		margin:0 auto;
		@extend .max-width;
	}
	input {
		width:100%;
		height:40px;
		border:0;
		background:#C00;
	}
	input[type=text] {
		padding:0 1%;
		border:1px solid #ccc;
		width:100%;
		background:rgba(255,255,255,0.8);
		border-radius:4px 0 0 4px;
	}
	input[type=button] {
		padding:0;
		background:rgba(150,150,150,0.8) url(/assets/images/icon-magnifier.png) no-repeat center;
		border:none;
		border-radius:0 4px 4px 0;
	}
}
#dashboard {
	@extend .max-width;
	padding-top:55px;
}
#no-result {
	position: fixed;
	text-align:center;
	font-weight:bold;
	color:#666;
	top:0;
	left:0;
	width:100%;
	height:100%;
	pointer-events:none;
	div {
		height:20px;
		pointer-events:none;
	}
}
#search-result {
  #items {
    position: relative;
  }
	.item {
    width:100%;
    display: inline-block;
		padding:0;
		border-bottom:1px solid #ccc;
    transition: all 0.8s;
	} 
	.photo {
		background-image:url(/assets/images/icon-photo.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size:cover;
		background-color:#efefef;
		float:left;
		border-right:1px solid #ccc;
	}
	.photo:after {
		display:block;
		content:'';
		padding-top:70%;
	}
	.content, .label{
		padding:1%;
	}
	.label {
		font-size:8vw;
		line-height:10vw;
		font-weight:bold;
		text-align:center;
		border-left:1px solid #ccc;
	}
	h2 {
		font-size:3vw;
		margin:0;
	}
	p {
		font-size:1.8vw;
		margin:4px 0 0 0;
	}
}

#item-add, #item-storage {
  position: absolute;
  width:98%;
  height:96%;
  top:1%;
	margin:1%;
	.box {
		padding:0.5%;
	}
	label {
		display: block;
		width:100%;
		font-size:1.2em;
		padding:0;
		margin-top:10px;
	}
  label.first {
    margin-top:0;
  }
	input[type=text], textarea, select {
		display: block;
		width:100%;
		font-size:1.2em;
		padding:6px;
	}
  input[type=text].error, textarea.error, select.error {
    border:1px solid #c00;
    background-color:#FFCCCC;
  }
	textarea {
		border:1px solid #ccc;
		height:180px;
	}
	select {
		font-size:1.8em;
		padding:6px;
		border:1px solid #ccc;
	}
	input[type=submit] {
		display: block;
		width:100%;
		font-size:1.2em;
		padding:6px;
		margin:20px 0 10px 0;
	}
  .message {
    font-size:0.8em;
    color:#c00;
  }
	.photo-preview {
		display: inline-block;
		width:60px;
		height:60px;
		margin:4px 10px 4px 0;
		border:1px solid #ccc;
		background-size:cover;
		background-position:center;
	}
	label.btn-photo {
		width:100%;
		padding:10px 0 10px 50px;
		background-color:#CFC;
    background-size:28px 28px;
		background-image:url(/assets/images/icon-photo.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
	}
	.btn-photo.loading {
		background-image:url(/assets/images/icon-loader.gif);
	}
}

#storage-spaces {
  border:1px solid #ccc;
  padding:0;
  margin: 0;
  height:300px;
  overflow-y:scroll;
}
.storage-space {
  border-bottom:1px solid #ccc;
  list-style-type: none;
  padding:0.5%;
  transition: all 0.8s;
  h2, p {
    margin:0;
  }
  &:hover, &.active {
    background-color:rgba(0,0,100,1.0);
    color:#fff;
  }
  cursor:pointer;
}

.modal {
	position: fixed;
	z-index:9999;
	top:0;left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.7);
}

#bottom-widgets {
	position:fixed;
	bottom:15px;
	width:100%;
  pointer-events:none;
	.btn-add {
		width:60px;
		height:60px;
		text-align:center;
		font-size:44px;
		color:#fff;
		background-color:#c00;
		border-radius:50%;
		float:right;
		margin:0 15px 0 0;
		cursor:pointer;
    pointer-events:auto;
	}
	.btn-add:after {
		content: "+";
	}
}

@media (min-width: 960px){
	#search-result {
		h2 {
			font-size:1.7em;
		}
		p {
			font-size:1em;
		}
		.label {
			font-size:5em;
			line-height:1.2em;
		}
	}
}